:root {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f3f4f6;
  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
  --color-text-placeholder: #a3a3a3;
  --color-primary: #f55064;
  --color-secondary: #2a2a2b;
  --color-info: #506cf5;
  --color-card: #f6f6f6;
}

:root[class="dark"] {
  --color-bg-primary: #111827;
  --color-bg-secondary: #1f2937;
  --color-text-primary: #f9fafb;
  --color-text-placeholder: #a3a3a3;
  --color-text-secondary: #d1d5db;
  --color-primary: #f55064;
  --color-secondary: #575758;
  --color-info: #7a8ef5;
  --color-card: #ffffff;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--color-bg-primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base container */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Breakpoint containers */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* Text */
h1,
h2,
h3,
h4,
h5 {
  line-height: 0px;
}

.text {
  color: var(--color-text-primary);
}
